@import '~nativescript-theme-core/css/core.light.css';

.action-bar,
.page {
    background-color: #B36A5E;
    color: white;
}

.page {
    font-family: 'Montserrat', 'Montserrat-Medium';
}

.bold {
    font-family: 'Montserrat', 'Montserrat-Black';
}

Label,
.h2 {
    color: white;
}